%p.tagline
  A DIGITAL DEVELOPMENT AND INNOVATION GROUP BASED IN SANTA MONICA AND NEW YORK CITY.

// todo add when content is ready
-#= video_tag('background.mp4', :autoplay => "", :id => "home-video", :loop => "", :preload => "auto", :controls => true)

= image_tag 'http://static1.squarespace.com/static/547e761ee4b06bdd71a72c1a/54f642bde4b08809202a489c/54f642d9e4b0a47e92ebd6d3/1425425115554/10821874_10205280601717335_1572737456_o.jpg?format=1000w', id: 'home-image'
