%p.tagline
  A DIGITAL DEVELOPMENT AND INNOVATION GROUP BASED IN SANTA MONICA AND NEW YORK CITY.

%video#home-video{:autoplay => "", :loop => "", :poster => "polina.jpg"}
  %source{:src => "https://s3.amazonaws.com/fcflamingo-rails/Clean.webmhd.webm", :type => "video/webm"}
  %source{:src => "https://s3.amazonaws.com/fcflamingo-rails/Clean.mp4", :type => "video/mp4"}

#home-background

#social
  %ul
    %li.social
      = link_to "https://www.facebook.com/flamingolabs", target: "_blank" do
        %i.fa.fa-facebook
    %li.social
      = link_to "https://instagram.com/fcflamingo", target: "_blank" do
        %i.fa.fa-instagram
    %li.social
      = link_to "https://twitter.com/fcflamingo", target: "_blank" do
        %i.fa.fa-twitter
