.contact-container
  .row
    .col-xs-12
      .col-xs-6.col-sm-6.col-md-6.col-lg-6.no-padding
      .col-xs-6.col-sm-6.col-md-6.col-lg-6.no-padding
        %a{:href => "mailto:hello@fcflamingo.com", class: "btn btn-default pull-right"}
          hello@fcflamingo.com
  .row
    .col-xs-12
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/IBfUFkni-QU"}

  .row
    .col-xs-12
      .col-xs-6.col-sm-6.col-md-6.col-lg-6.text-center
        %h3 Santa Monica
        %ul.address
          %li
            %a{:href => "https://www.google.com/maps/place/1727+Sunset+Ave,+Santa+Monica,+CA+90405/@34.00767,-118.46308,3a,52.5y,350.56h,101.19t/data=!3m4!1e1!3m2!1sdYm4exLOx6GDZ113r0pzIA!2e0!4m2!3m1!1s0x80c2baddff8cf81f:0x600e28cec9d066b5!6m1!1e1", :target => "_blank"} 1727 Sunset Avenue
          %li
            %a{:href => "https://www.google.com/maps/place/1727+Sunset+Ave,+Santa+Monica,+CA+90405/@34.00767,-118.46308,3a,52.5y,350.56h,101.19t/data=!3m4!1e1!3m2!1sdYm4exLOx6GDZ113r0pzIA!2e0!4m2!3m1!1s0x80c2baddff8cf81f:0x600e28cec9d066b5!6m1!1e1", :target => "_blank"} Santa Monica, 90405
          %li
            %a{:href => "https://www.google.com/maps/place/1727+Sunset+Ave,+Santa+Monica,+CA+90405/@34.00767,-118.46308,3a,52.5y,350.56h,101.19t/data=!3m4!1e1!3m2!1sdYm4exLOx6GDZ113r0pzIA!2e0!4m2!3m1!1s0x80c2baddff8cf81f:0x600e28cec9d066b5!6m1!1e1", :target => "_blank"} Directions
      .col-xs-6.col-sm-6.col-md-6.col-lg-6.text-center
        %h3 New York City
        %ul.address
          %li
            %a{:href => "https://www.google.com/maps/@40.741184,-73.984782,3a,75y,209.66h,90.86t/data=!3m4!1e1!3m2!1sLKPUqVzHiV7lDy7-4LxXLQ!2e0!6m1!1e1", :target => "_blank"} 110 E 25th St
          %li
            %a{:href => "https://www.google.com/maps/@40.741184,-73.984782,3a,75y,209.66h,90.86t/data=!3m4!1e1!3m2!1sLKPUqVzHiV7lDy7-4LxXLQ!2e0!6m1!1e1", :target => "_blank"} New York, 10010
          %li
            %a{:href => "https://www.google.com/maps/@40.741184,-73.984782,3a,75y,209.66h,90.86t/data=!3m4!1e1!3m2!1sLKPUqVzHiV7lDy7-4LxXLQ!2e0!6m1!1e1", :target => "_blank"} Directions
