$pink: #f0a;

.tagline {
  text-align: center;
  padding-top: 4em;
  font-size: 20px;
  color: #fff;
  -webkit-transition: ease .5s;
  -moz-transition: ease .5s;
  -ms-transition: ease .5s;
  -o-transition: ease .5s;
  transition: ease .5s;
}
#home-image {
  display: none;
}
#home-video {
  display: inline;
}
#home-video, #home-background {
  position: fixed;
  top: 0;
  right: 0;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
  background-size: cover;
  overflow: hidden;
}
#social {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  ul {
    text-align: text-center;
    width: 150px;
    margin: 0 auto;
  }
  li {
    float: left;
    padding: 0.5em 1em;
    .fa {
      font-size: 2em;
      color: #fff;
      -webkit-transition: ease .5s;
      -moz-transition: ease .5s;
      -ms-transition: ease .5s;
      -o-transition: ease .5s;
      transition: ease .5s;
      &:hover {
        -webkit-box-shadow:0 0 15px $pink;
        box-shadow:0 0 15px $pink;
        bottom:0px;
        left:10%;
        right:10%;
        width: 100%;
        height:50%;
        -moz-border-radius:100%;
        border-radius:100%;
        background: rgba(255, 0, 170, 0.69);
      }
    }
  }
}
@media (min-width: 0px) and (max-width: 991px) {
  .tagline {
    padding-top: 0;
  }
  #home-video {
    display: none;
  }
  #home-background {
    background: url('mobile_background.jpeg')center top no-repeat;
    background-size: cover;
  }
}
