.tagline {
  text-align: center;
  padding-top: 4em;
  font-size: 20px;
  color: #111;
}

// todo add when content is ready
//#home-image {
//  display: none;
//}
//#home-video {
//  display: inline;
//}
//#home-video {
//  position: fixed;
//  top: 0;
//  right: 0;
//  width: auto;
//  height: auto;
//  min-width: 100%;
//  min-height: 100%;
//  z-index: -100;
//  background-size: cover;
//  overflow: hidden;
//}
//@media (min-width: 0px) and (max-width: 991px) {
//  #home-video {
//    display: none;
//  }
//  #home-image {
//    display: inline;
//  }
//}
