.navbar {
  margin:0;
  letter-spacing: 2px;
}

.navbar.navbar-default {
  background-color: transparent;
  border:transparent;
}

.navbar-toggle {
  margin-top: 28px;
}

.navbar-default .navbar-brand {
  font-size: 68px;
  color: #fff;
  text-decoration: none;
  margin-top:6px;
  line-height: 1em;
  font-weight: 700;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav li a {
  text-decoration: none;
  color: #000;
  transition: .15s ease;
}

.navbar-default .navbar-brand:hover {
  text-decoration: none !important;
}

.navbar-default .navbar-collapse {
  margin-top: 1em;
}

@media (min-width: 0px) and (max-width: 992px) {
  .navbar-default .navbar-collapse {
    margin-top: 4.5em;
    transition: .15s ease;
  }
  .navbar-default .navbar-brand {
    font-size: 40px;
    margin-top: 20px;
  }
  .navbar-nav li.social {
    padding: 0.5em 1em;
  }
}

